// 通用配置
$border-color: #dddee1 !default;
$border-radius: 3px !default;
$border-divide: #e9eaec !default;

// customer settings
$light-primary-color: #5cadff !default;
$dark-primary-color: #2b85e4 !default;
$info-color: #2d8cf0 !default;
$success-color: #19be6b !default;
$warning-color: #ff9900 !default;
$error-color: #ed3f14 !default;

// antd variables
$primary: rgba(91, 69, 194, 1) !default;
// $background-color-light: hsv(0, 0, 96%); // background of header and selected item
// $background-color: hsv(0, 0, 94%); // Default grey background color
$padding-lg: 16px !default;

$font-size-base: 12px !default;
$layout-body-background: #f2f1f6 !default;

$breadcrumb-last-item-color: #666666 !default;

// 组件配置

// // panel
// $panel-label-width: 8em !default;
// $panel-label-margin: 1em !default;
// $panel-label-padding: 16px !default;

// // table
// $table-custom-active-bg: lighten($primary-color, 35%) !default;
// $table-custom-max-height: 280px !default;
// $table-padding-vertical: 8px !default;
// $table-padding-horizontal: 8px !default;
// $table-header-bg: #f5f5f5 !default;
// $table-th-color: #999999 !default;

// // button
// $btn-height-base: 32px !default;
// $btn-height-sm: 28px !default;
// $btn-padding-sm: 0 15px !default;

// // 分页器
// $pagination-item-size: 28px !default;
// $pagination-vertical-margin: 12px 0 !default;

// // input
// $input-height-lg: 40px !default;
// $input-height-base: 32px !default;
// $input-height-sm: 28px !default;
// $input-placeholder-color: #bbbbbb !default;
// $input-color: #333333 !default;

// // form
// $form-item-margin-bottom: 20px !default;
// $form-item-label-width: 8em !default;
// $form-item-line-height: 28px !default;
// $form-item-control-width: 400px !default;
// $modal-form-item-control-width: 300px !default;
// $label-color: #666666 !default;

// // filter
// $filter-padding: 0 !default;

// // state-tag
// $state-tag-size: 6px !default;
// $state-error-color: #f08f00 !default;
// $state-normal-color: #47a800 !default;
// $state-close-color: #999999 !default;
// $state-tag-padding: 5px !default;
// $tag-dot-vertical-margin: 0 !default;
// $tag-dot-horizontal-margin: 5px !default;
